

.table{
	border-collapse: collapse; 
	float: right;
	width: 1040px;
	height: 900px;
	margin-right: 10px;
	border: 2px solid;
	background-color: #FFFFF7;
	table-layout: fixed;
}

.weekDays{
	color: #F0F0F0;
	text-align: center; 
	table-layout:fixed;
	border: 2px solid;
	border-bottom-color: #CC7A7A;
	border-left-color: black;
	border-right-color: black;
	border-top: black;
	background-color: #FFFFF7;
}

.td1{
	color: #484848;
	width: 100px;
	text-align: center;
	height: 60px; 
	border: 1px solid;
	border-color: #CC7A7A;
	background-color: #FFFFF7;


}

.td2{
	color: #484848;
	width: 100px;
	text-align: center;
	height: 60px; 
	border: 1px solid;
	border-color: #CC7A7A;
	background-color: #FFFFE6;
	
}

.td3{
	color: #484848;
	width: 100px;
	text-align: center;
	height: 60px; 
	border: 1px solid;
	border-right: 2px solid;
	border-color: #CC7A7A;
	background-color: #FFFFF7;
	
}

.td4{
	color: #484848;
	width: 100px;
	text-align: center;
	height: 30px; 
	border: 1px solid;
	border-color: #CC7A7A;
	background-color: #FFFFF7;
	position: relative;
}

#backWeek{
	height: 20px;
	width: 45px;
	background-color: black;
	margin-left: 10px;
	float: left;
	background-color: #484848;
	color: #F0F0F0;
	font-size: 25px;
	font-family: arial;
	border: 2px solid black;
	border-radius: 5px;
	text-align: center;
	line-height: 20px;
}

#forwardWeek{
	height: 20px;
	width: 45px;
	background-color: black;
	margin-right: 10px;
	float:right;
	background-color: #484848;
	color: #F0F0F0;
	font-size: 25px;
	border: 2px solid black;
	border-radius: 5px;
	text-align: center;
	line-height: 20px;
}

a{
	text-decoration: none;
	color: #F0F0F0;
	font-family: arial;
}

.wrapper{
	height: 292px;
	width: 150px;
	float: left;
	background-color: #FFFFF7;
	border-radius: 5px;
	border: 2px solid black;
}

#menu{
	height: 30px;
	width: 120px;
	text-align: center;
	background-color: #484848;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 16px;
	color: #F0F0F0;
	line-height: 22px;
	border-radius: 5px;
	border: 2px solid black;
	font-family: arial;
	font-size: 12px;
}
.event{
	position: absolute;
	left: 0px;
	width: 128px;
	background-color: #999994;
	opacity: 0.90;
	border: 1px solid;
	border-color: #4C4C4C;
}

