#div1{
	height:500px;
	width: 400px;
	background-color: #E6E6E6;
	margin-top: 100px;
	margin-left: 400px;
	border-radius: 10px;
	border: solid black;
}

h1{
	text-align: center;
	font-size: 25px;
}

#noteinfo{
	height: 40px;
	width: 250px;
	background-color: white;
	margin-top: 35px;
	margin-left: 20px;
	border-radius: 5px;
	border: 2px solid black;
}

#notedescription{
	height: 60px;
	width: 250px;
	background-color: white;
	margin-top: 35px;
	margin-left: 20px;
	border-radius: 5px;
	border: 2px solid black;
}

#dropdown{
	height: 30px;
	width: 70px;
	background-color: white;
	margin-top: 35px;
	margin-left: 20px;
	border-radius: 5px;
	border: 2px solid black;
	text-align: center;
}

#button1{
	height: 35px;
	width: 100px;
	background-color: white;
	margin-top: 35px;
	margin-left: 20px;
	border-radius: 5px;
	border: 2px solid black;
	text-align: center;
}

#button2{
	height: 35px;
	width: 70px;
	background-color: white;
	margin-top: -50px;
	margin-left: 150px;
	border-radius: 5px;
	border: 2px solid black;
	text-align: center;
}