.table{
	border-collapse: collapse; 
	float: right;
	width: 500px;
	height: 900px;
	margin-right: 345px;
}

.weekDay{
	color: #F0F0F0;
	text-align: center; 
	table-layout:fixed;
	border: 2px solid black;
}

.td1{
	color: #484848;
	width: 150px;
	text-align: center;
	height: 30px; 
	border: 2px solid black;
	background-color: #F0F0F0;

}

.td3{
	color: #484848;
	width: 50px;
	text-align: center;
	height: 30px; 
	border: 2px solid black;
	background-color: #E6E6E6;
}

.td4{
	color: #484848;
	width: 150px;
	text-align: center;
	height: 30px; 
	border: 2px solid black;
	background-color: #E6E6E6;
}

.wrapper{
	height: 100px;
	width: 150px;
	float: left;
	background-color: #E6E6E6;
	border-radius: 5px;
	border: 2px solid black;
	margin-left: 160px;
}

#menu{
	height: 50px;
	width: 120px;
	text-align: center;
	background-color: #484848;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 25px;
	color: #F0F0F0;
	line-height: 28px;
	border-radius: 5px;
	border: 2px solid black;
}